<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788201718841-uto8dupal3kc76hl30ghvbrvcef5sr1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788201718841-uto8dupal3kc76hl30ghvbrvcef5sr1d</string>
	<key>API_KEY</key>
	<string>AIzaSyBBJHiLWvGlAGnNgH3u755kKR6imqhN97w</string>
	<key>GCM_SENDER_ID</key>
	<string>788201718841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peterfarrell.procurecentre</string>
	<key>PROJECT_ID</key>
	<string>procurecentre</string>
	<key>STORAGE_BUCKET</key>
	<string>procurecentre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788201718841:ios:858c69f2c74205b12e39e8</string>
	<key>DATABASE_URL</key>
	<string>https://procurecentre.firebaseio.com</string>
</dict>
</plist>